/* global reset */
* {
  margin: 0;
  padding: 0;
}

/* tags */
a {
  color: #090509;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin: 10px 0;
}

/* classes */
.primary {
  background-color: #1abcac;
  color: #090509;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.responsive {
  display: block;
  max-width: 100%;
  margin: 30px auto;
}

/* ids */
#header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#repository {
  background-color: #757575;
}

#container {
  background-color: #959595;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
